@media(max-width:1170px) {

    /* general*/
    .section-subtitle {
        max-width: 60%;
    }
    .banner_section .carousel-item{
        height: 90vh;
    }

}

@media (max-width:991px){
    /* 02 banner */

    .about .banner_section,
    .product .banner_section,
    .gallery .banner_section,
    .contact .banner_section {

        padding-top: 12.5rem;
        padding-bottom: 3rem;
        
    }
    
    /*01 navbar*/
    .header .navbar {
        background-size: cover;
        padding: 2rem;
    }

    .header.navbar-nav {
        margin-top: 2rem;
    }

    .header .header.navbar-nav .nav-link {
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;

    }

    .header .header_right span {
        padding: 0.2rem 0.5rem;
    }

}

@media (max-width:767px) {

    /* genral*/
    body ,thml{
        font-size: 8px;
    }
    section-subtitle{
        max-width: 80%;
    }

    /* banner*/
    .banner_section{
        min-height: 70vh;
    }
    .banner_section .carousel-item{
        height: 70vh;
    }


    
}

@media (max-width:590px) {

   body,html{
        font-size: 7px;
    }
}   